.breaker-designed {
    border: none;
    border-bottom: 2px solid;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

.center-title-align {
    text-align: center;
    margin-top: 2%;
    font-size: 250%;
    position: sticky;
}

.center-text-align {
    text-align: center;
    margin-top: 3%;
    font-size: 150%;
    position: sticky;
}