@font-face {
    font-family: 'SSP';
    src: url("../fonts/font.otf"); 
    src: url("../fonts/font.otf") format("opentype");
    font-style: normal;
} @font-face {
    font-family: 'Fira';
    src: url("../fonts/fira.otf"); 
    src: url("../fonts/fira.otf") format("opentype");
    font-style: normal;
}

body {
    text-align: center;
    padding-top: 0.5%;
    font-weight: normal;
    font-family: "fira";
}

h1 { font-family: "SSP"; font-size: 300%; }
h3 { padding-top: -1%; }
hr { margin-left: 6%; margin-right: 6%; margin-top: 2%; }
p  { height: 5px; padding-top: 2%; font-size: 180%; word-spacing: 60%; }
header { font-size: 150%; }

a, a:link, a:visited, a:hover, a:active
{ color: rgb(129, 129, 129); font-weight: bold; text-decoration:none; }

.socials {
    position: absolute;
    margin-top: -14%;
    margin-left: 29%;
    display: inline-block;
}

.links {
    padding-top: 1.3%;
    font-size: 200%;
    margin-bottom: 2%;
}

.highlighted-img {
    border-style: dashed;
    border-color: black;
}